*{
  margin: 0;
  padding: 0;
}

.nav {
 font-size: 20px;
  margin: 2px;
  padding: 2px;
  background-image: linear-gradient( 90deg, #8A0808,#8A0808,#8A0808, silver, white);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: black;
  font-weight:bolder
}
.logotipo {
  border-radius: 10px;
}

.cartWidget{
  width: 40px;
  height: 40px;
  color: #8A0808;

}

.botonIncrementar {
  width: 35px;
  height: 35px;
  display: flex;
}

.botonDecrementar {
  width: 35px;
  height: 35px;
  
  
}

.cajaBotonera {
  display: flex;
  text-align: justify;
  justify-content: space-around;
  margin-bottom: 0px;
  
  
}

card-container {
  height: 450px;
  width: 300px;
  border: 1px solid var(--otro);
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.card-container:hover{
  transform: scale(1.03);
}

.img-container {
  height: 300px;
  width: 250px;
  margin: 30px 0 0;
 
}

.img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;  
}